$blue: #46a6f8;
$yellow: #ffb700;
$gold: #f2994a;
$range: #182141;
$main-bg: #211f30;
$primary-bg: #100a21;
$white-black: #fff;
$grey: #8a879b;
$border: #403c4e;
$link-color: #787680;
$link-active: #fff;
 