.grid {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 -14px;
  &__column {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    &.sm {
      width: 55%;
    }
  }
}
.card {
  width: calc(100% - 28px);
  margin: 14px;
  &__image {
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    height: 300px;
    img {
      @include fullImage;
    }
  }
  &__body {
    border-radius: 0 0 10px 10px;
    padding: 13px 17px 20px 17px;
    background: $main-bg;
    &-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 9px;
      h5 {
        width: calc(100% - 130px);
        max-width: 330px;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 24px;
        max-height: 48px;
        overflow: hidden;
        text-overflow: ellipsis;
        letter-spacing: 0.2px;
        color: $white-black;
      }
      &-category {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        padding: 0 14px;
        margin-right: -17px;
        background: rgba($color: $blue, $alpha: 0.3);
        color: $blue;
        border-radius: 4px 0 0 4px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        svg {
          width: 20px;
          height: 20px;
          fill: $blue;
          margin-right: 12px;
        }
      }
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      max-height: 44px;
      color: $grey;
      max-width: 340px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      &-row {
        display: flex;
        align-items: center;
        &-info {
          display: flex;
          align-items: center;
          padding-right: 14px;
          border-right: 1px solid $border;
          &:last-child {
            border: none;
            padding-left: 14px;
          }
          &-icon {
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $border;
            border-radius: 4px;
            margin-right: 12px;
            svg {
              fill: $yellow;
              width: 20px;
              height: 20px;
              margin-left: -1px;
            }
          }
          span {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: $grey;
          }
        }
      }
      &-btn {
        padding: 18px 30px;
        display: flex;
        align-items: center;
        background: $blue;
        border-radius: 38px;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 26px;
        color: #ffffff;
        @include transition;
        svg {
          width: 14px;
          height: 18px;
          fill: #fff;
          margin-right: 10px;
        }
        &:hover {
          box-shadow: 0px 7px 21px -1px rgba($color: $blue, $alpha: 0.4);
        }
      }
    }
  }
  &.sm {
    margin: 14px;
    width: calc(50% - 28px);
    .card {
      &__image {
        height: 195px;
      }
      &__body {
        padding: 15px 12px;
        &-row {
          h5 {
            font-size: 18px;
            line-height: 24px;
            width: calc(100% - 100px);
            max-width: 230px;
          }
          &-category {
            padding: 0 10px;
            height: 30px;
            font-size: 14px;
            line-height: 18px;
            margin-right: -12px;
            svg {
              width: 14px;
              height: 14px;
              margin-right: 5px;
            }
          }
        }
        p {
          font-size: 14px;
          line-height: 18px;
          max-height: 36px;
          max-width: 220px;
        }
        &-footer {
          margin-top: 10px;
          &-row {
            &-info {
              border: none;
              padding: 0;
              &-icon {
                width: 26px;
                height: 25px;
                margin-right: 8px;
                svg {
                  width: 14px;
                  height: 14px;
                }
              }
              span {
                font-size: 14px;
                line-height: 18px;
              }
            }
          }
          &-btn {
            padding: 10px 12px 10px 17px;
            font-size: 16px;
            line-height: 20px;
            svg {
              width: 10px;
              height: 13px;
              margin-right: 7px;
            }
          }
        }
      }
    }
  }
  &__purchase {
    background: $main-bg;
    border-radius: 8px;
    &-inner {
      display: flex;
      padding: 14px 15px;
      &-image {
        width: 45%;
        height: 190px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        overflow: hidden;
        img {
          @include fullImage;
        }
      }
      &-body {
        padding: 0 10px 0 20px;
        width: calc(55% - 30px);
        &-title {
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 26px;
          max-height: 52px;
          overflow: hidden;
          text-overflow: ellipsis;
          letter-spacing: 0.2px;
          color: $white-black;
          margin-bottom: 10px;
        }
        &-text {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
          max-height: 36px;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $grey;
          max-width: 210px;
          margin-bottom: 20px;
        }
        &-row {
          display: flex;
          align-items: center;
        }
        &-info {
          display: flex;
          align-items: center;
          margin-right: 12px;
          &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #403c4e;
            border-radius: 4px;
            width: 26px;
            height: 26px;
            margin-right: 8px;
            svg {
              width: 14px;
              height: 14px;
              fill: $yellow;
            }
          }
          &-text {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            color: $grey;
          }
        }
      }
    }
  }
  &__modal {
    display: block;
    overflow: hidden;
    border-radius: 12px;
    background: $main-bg;
    position: relative;
    border: 3px solid transparent;
    @include transition;
    &-image {
      height: 190px;
      width: 100%;
      img {
        @include fullImage;
      }
    }
    &-body {
      padding: 16px 8px 16px 8px;
      &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        &-text {
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 24px;
          letter-spacing: 0.2px;
          color: #ffffff;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &-row {
          display: flex;
          align-items: center;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 19px;
          color: $grey;
          &-icon {
            width: 26px;
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $border;
            box-sizing: border-box;
            border-radius: 4px;
            margin-right: 8px;
            svg {
              fill: $yellow;
              width: 14px;
              height: 14px;
            }
          }
        }
      }
      &-para {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: $grey;
        height: 38px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &:hover {
      border: 3px solid $blue;
      box-shadow: 0px 7px 21px -1px rgba($color: $blue, $alpha: 0.4);
    }
  }
}
