.issue {
  &__info {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    &-image {
      width: 97px;
      height: 72px;
      overflow: hidden;
      border-radius: 7px;
      margin-right: 18px;
      img {
        @include fullImage;
      }
    }
    &-content {
      width: calc(100% - 115px);
      &-title {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: $white-black;
        margin-bottom: 9px;
      }
      &-para {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: $grey;
        height: 38px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 260px;
      }
    }
  }
  &__form {
    padding: 25px 0;
    border-top: 1px solid $border;
    &-row {
      display: flex;
      margin: 0 -19px;
    }
    &-column {
      width: calc(50% - 38px);
      margin: 0 19px;
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      margin: 0 8px;
      padding: 15px 30px;
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      color: $blue;
      background: rgba($color: $blue, $alpha: 0.15);
      border: 1px solid $blue;
      box-sizing: border-box;
      border-radius: 38px;
      cursor: pointer;
      @include transition-shadow;
      svg {
        margin-right: 10px;
        fill: $blue;
      }
      &:last-child {
        color: #fff;
        background: $blue;
        svg {
          margin-left: 10px;
          margin-right: 0;
          fill: #fff;
        }
      }
      &:hover {
        box-shadow: 0px 7px 21px -1px rgba($color: $blue, $alpha: 0.4);
      }
    }
  }
}
